@{
    ViewData["Title"] = "Alisveris";
}

@section SayfaStyle {
    <link rel="stylesheet" href="~/Alisveris.css" />
}



<div class="baslikurunler">
    <h2>öne <span>çıkanlar</span></h2>
</div>

<div class="Urunler">
    <div class="urunlerkutusu">
        <div class="urun">
            <div class="urunresim">
                <img src="~/images/dark souls dlc1.jpg" alt="" />
            </div>
            <span>Steam</span>
            <h2>the ringed city (DLC)</h2>
            <div class="yildiz">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="fiyat">
                <p class="urun-fiyat-deger">424,83 TL</p>
                <button class="add-to-cart-btn" data-id="ds_dlc_01" data-name="Dark Souls DLC" data-price="424,83">
                    <i class="fa-solid fa-cart-arrow-down"></i>
                </button>
            </div>
        </div>
        <div class="urun">
            <div class="urunresim">
                <img src="~/images/darksoulsdlc2.jpg" alt="" />
            </div>
            <span>Steam</span>
            <h2>Ashes of Ariandel (DLC)</h2>
            <div class="yildiz">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="fiyat">
                <p class="urun-fiyat-deger">424,83 TL</p>
                <button class="add-to-cart-btn" data-id="ds_dlc_02" data-name="Dark Souls DLC 2" data-price="424,83">
                    <i class="fa-solid fa-cart-arrow-down"></i>
                </button>
            </div>
        </div>
        <div class="urun">
            <div class="urunresim">
                <img src="~/images/darksoulsseaonpass.jpg" alt="" />
            </div>
            <span>Steam</span>
            <h2>Season Pass</h2>
            <div class="yildiz">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="fiyat">
                <p class="urun-fiyat-deger">679,99 TL</p>
                <button class="add-to-cart-btn" data-id="ds_dlc_03" data-name="Dark Souls Season Pass"
                        data-price="679,99">
                    <i class="fa-solid fa-cart-arrow-down"></i>
                </button>
            </div>
        </div>
        <div class="urun">
            <div class="urunresim">
                <img src="~/images/darksouls3.jpg" alt="" />
            </div>
            <span>Steam</span>
            <h2>Dark Souls 3 (Main Game)</h2>
            <div class="yildiz">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="fiyat">
                <p class="urun-fiyat-deger">1700,61 TL</p>
                <button class="add-to-cart-btn" data-id="ds_dlc_04" data-name="Dark Souls Main Game"
                        data-price="1700,61">
                    <i class="fa-solid fa-cart-arrow-down"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="baslikurunler" style="margin-top: 50px">
    <h2>Son<span> Ürünler</span></h2>
</div>

<div class="Urunler">
    <div class="urunlerkutusu" style="gap: 20px">
        <div class="urun">
            <div class="urunresim">
                <img src="~/images/Darksoulstshirt1.webp" alt="" />
            </div>
            <span>Trendyol</span>
            <h2>Dark Souls T-Shirt</h2>
            <div class="yildiz">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="fiyat">
                <p>384,77 TL</p>
                <button class="add-to-cart-btn" data-id="ds_product_1" data-name="Dark Souls T-Shirt 1"
                        data-price="384,77">
                    <i class="fa-solid fa-cart-arrow-down"></i>
                </button>
            </div>
        </div>
        <div class="urun">
            <div class="urunresim">
                <img src="~/images/Darksoulstshirt2.jpeg" alt="" />
            </div>
            <span>Trendyol</span>
            <h2>Dark Souls T-Shirt</h2>
            <div class="yildiz">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="fiyat">
                <p class="urun-fiyat-deger">325,89 TL</p>
                <button class="add-to-cart-btn" data-id="ds_product_2" data-name="Dark Souls T-Shirt 2"
                        data-price="325,89">
                    <i class="fa-solid fa-cart-arrow-down"></i>
                </button>
            </div>
        </div>
        <div class="urun">
            <div class="urunresim">
                <img src="~/images/Darksoulstshirt3.webp" alt="" />
            </div>
            <span>Trendyol</span>
            <h2>Dark Souls T-Shirt</h2>
            <div class="yildiz">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="fiyat">
                <p class="urun-fiyat-deger">529,99 TL</p>
                <button class="add-to-cart-btn" data-id="ds_product_3" data-name="Dark Souls T-Shirt 3"
                        data-price="529,99">
                    <i class="fa-solid fa-cart-arrow-down"></i>
                </button>
            </div>
        </div>
        <div class="urun">
            <div class="urunresim">
                <img src="~/images/darksouls3tablo.jpg" alt="" />
            </div>
            <span>Trendyol</span>
            <h2>Dark Souls 3 Tablo</h2>
            <div class="yildiz">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="fiyat">
                <p class="urun-fiyat-deger">1260,99 TL</p>
                <button class="add-to-cart-btn" data-id="ds_product_4" data-name="Dark Souls 3 Tablo"
                        data-price="1260,99">
                    <i class="fa-solid fa-cart-arrow-down"></i>
                </button>
            </div>
        </div>
        <div class="urun">
            <div class="urunresim">
                <img src="~/images/darksoulsoyuncak.jpg" alt="" />
            </div>
            <span>Trendyol</span>
            <h2>Dark Souls 3 Figür</h2>
            <div class="yildiz">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="fiyat">
                <p class="urun-fiyat-deger">682,99 TL</p>
                <button class="add-to-cart-btn" data-id="ds_product_5" data-name="Dark Souls 3 Figür"
                        data-price="682,99">
                    <i class="fa-solid fa-cart-arrow-down"></i>
                </button>
            </div>
        </div>
        <div class="urun">
            <div class="urunresim">
                <img src="~/images/darksoulsoyuncak2.jpg" alt="" />
            </div>
            <span>Trendyol</span>
            <h2>Dark Souls 3 Figür</h2>
            <div class="yildiz">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="fiyat">
                <p class="urun-fiyat-deger">782,99 TL</p>
                <button class="add-to-cart-btn" data-id="ds_product_6" data-name="Dark Souls 3 Figür"
                        data-price="782,99">
                    <i class="fa-solid fa-cart-arrow-down"></i>
                </button>
            </div>
        </div>
        <div class="urun">
            <div class="urunresim">
                <img src="~/images/darksouls3fincan.jpeg" alt="" />
            </div>
            <span>Trendyol</span>
            <h2>Dark Souls 3 Kupa</h2>
            <div class="yildiz">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="fiyat">
                <p class="urun-fiyat-deger">355,99 TL</p>
                <button class="add-to-cart-btn" data-id="ds_product_7" data-name="Dark Souls 3 Kupa"
                        data-price="355,99">
                    <i class="fa-solid fa-cart-arrow-down"></i>
                </button>
            </div>
        </div>
        <div class="urun">
            <div class="urunresim">
                <img src="~/images/darksouls3kupa.jpg" alt="" />
            </div>
            <span>Trendyol</span>
            <h2>dark Souls 3 Kupa</h2>
            <div class="yildiz">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="fiyat">
                <p class="urun-fiyat-deger">480,99 TL</p>
                <button class="add-to-cart-btn" data-id="ds_product_8" data-name="Dark Souls 3 Kupa"
                        data-price="480,99">
                    <i class="fa-solid fa-cart-arrow-down"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="UrunOrta">
    <div class="urunresmim">
        <img src="~/images/darksouls3orta.png" alt="" />
    </div>
    <div class="urunyazim">
        <span>Desteklenen tüm platformlarda ve oyun mağazalarında
            mevcuttur.</span>
            <h1>DARK SOULS The Graphic Novel Collection Vol 1-3</h1>
            <p>
                Kritik beğeni toplayan bu seri, George Mann ve Alan Quah gibi
                yetenekli sanatçılar tarafından <br />
                yaratılan, ıssız ve çaresiz bir dünyada geçen üç orijinal hikayeyi
                bir araya getiriyor. Koleksiyonun <br />
                bu ilk cildi, Legends of the Flame, Winter's Spite ve The Breath of
                Andalus öykülerini içerir ve okuyucuyu <br />
                karanlık, destansı maceralara davet eder.
            </p>
            <button>
                Satın al<span><i class="fa-solid fa-arrow-right"></i></span>
            </button>
        </div>
    </div>

    <div class="yorumbaslik">
        <span>Yorum</span>
        <h1>Müşteri diyor ki</h1>
    </div>

    <div class="yorumsatiri">
        <div class="yorumkutusu">
            <div class="ust">
                <div class="profil">
                    <div class="profilresim">
                        <img src="~/images/boşfoto.jpg" alt="" />
                    </div>

                    <div class="isim">
                        <strong>Kullanıcı 01</strong>
                        <span>m@kullanıcı01_</span>
                    </div>
                </div>

                <div class="yildizlar">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>

            <div class="yorumyazisi">
                <p>
                    Shopping sayfası genel olarak fena değil ama bazı kısımlar
                    geliştirmeye açık. Ürün açıklamaları kısa kalmış, biraz daha detay
                    olsa çok iyi olurdu. Tasarım temaya uygun ama bazı yerlerde
                    boşluklar fazla kalmış gibi duruyor. Sayfa bazı cihazlarda yavaş
                    açılıyor, bu da deneyimi hafif bozuyor. Yine de ürün çeşitliliği
                    gayet iyi seviyede. Fiyatlar ortalama ama birkaç üründe daha
                    detaylı bilgi isterdim. Ufak dokunuşlarla kesinlikle daha
                    profesyonel hale gelebilir.
                </p>
            </div>
        </div>
        <div class="yorumkutusu">
            <div class="ust">
                <div class="profil">
                    <div class="profilresim">
                        <img src="~/images/boşfoto.jpg" alt="" />
                    </div>

                    <div class="isim">
                        <strong>Kullanıcı 02</strong>
                        <span>m@kullanıcı02_</span>
                    </div>
                </div>

                <div class="yildizlar">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>

            <div class="yorumyazisi">
                <p>
                    Sayfanın tasarımı Dark Souls atmosferini çok iyi yansıtıyor. Menü
                    geçişleri hızlı ve kullanıcı dostu. Ürün görselleri yüksek
                    çözünürlüklü, bu da güven veriyor. Sadece ödeme sürecinde birkaç
                    küçük iyileştirme yapılabilir gibi duruyor. Ürün kategorileri
                    düzenli, aradığını bulmak kolay. Kullanıcıya hitap eden
                    açıklamalar güzel hazırlanmış. Genel olarak çok başarılı bir
                    alışveriş alanı olmuş.
                </p>
            </div>
        </div>
        <div class="yorumkutusu">
            <div class="ust">
                <div class="profil">
                    <div class="profilresim">
                        <img src="~/images/boşfoto.jpg" alt="" />
                    </div>

                    <div class="isim">
                        <strong>Kullanıcı 03</strong>
                        <span> m@kullanıcı03_</span>
                    </div>
                </div>

                <div class="yildizlar">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>

            <div class="yorumyazisi">
                <p>
                    Shopping sayfası gerçekten profesyonel bir dokunuşa sahip. Tema,
                    renkler ve yazı stilleri tamamen Dark Souls ruhunu yansıtıyor.
                    Ürünler hakkında verilen bilgiler yeterli ve güvenilir. Sayfa
                    hızlı açılıyor ve mobilde bile oldukça akıcı çalışıyor. Fiyatlar
                    uygun, özellikle bazı ürünlerde güzel fırsatlar var. Kullanıcı
                    deneyimi açısından neredeyse kusursuz diyebilirim. Bence Dark
                    Souls hayranlarının kesinlikle uğraması gereken bir yer.
                </p>
            </div>
        </div>
        <div class="yorumkutusu">
            <div class="ust">
                <div class="profil">
                    <div class="profilresim">
                        <img src="~/images/boşfoto.jpg" alt="" />
                    </div>

                    <div class="isim">
                        <strong>Kullanıcı 04</strong>
                        <span>m@kullanıcı04_</span>
                    </div>
                </div>

                <div class="yildizlar">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>

            <div class="yorumyazisi">
                <p>
                    Site inanılmaz akıcı ve düzeni çok profesyonel hissettiriyor.
                    Aradığım eşyaları anında bulmam büyük kolaylık sağladı. Tema
                    uyumu, efektler ve görsel bütünlük gerçekten çok kaliteli. Ürün
                    sayfaları sade ama yeterli bilgi içeriyor, bu da alışverişi
                    rahatlatıyor. Güvenilirlik hissi yüksek, ödeme süreçleri sorunsuz.
                    Tasarım hem göze hitap ediyor hem de kullanışlılık sağlıyor. Dark
                    Souls fanları için mükemmel bir alışveriş deneyimi olmuş.
                </p>
            </div>
        </div>
    </div>


    <div id="sidebar-cart">
        <div id="cart-header">
            <h2>Sepetiniz</h2>
            <button id="close-cart">&times;</button>
        </div>
        <div id="cart-items">
            <p style="text-align: center; color: #999">Sepetiniz şu anda boş.</p>
        </div>
        <div id="cart-footer">
            <div>
                <span>Toplam Tutar:</span>
                <span id="cart-total">0.00 TL</span>
            </div>
            <button class="checkout-btn">Sepeti Onayla</button>
        </div>
    </div>


    @section Scripts {
        <script src="~/js/alisveris.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
            document.body.style.setProperty("background-color", "#ff9999", "important");
            document.body.style.setProperty("background-image", "none", "important");
            });
        </script>
    }