@{
    ViewData["Title"] = "Hakkımda";
}

@section SayfaStyle {
    <link rel="stylesheet" href="~/Hakkimda.css" />
    <link rel="stylesheet" href="~/loading.css">
}

<div class="HakkimdaSayfasi" id="ana-ekran">
    <div class="Yazilarim">
        <h1>Merhaba, Ben <span>Süleyman</span></h1>
        <h2>Ben <span>Web Tasarımcısıyım</span></h2>
        <p>
            Ben Süleyman, 16 yaşındayım ve Handan Hayrettin Yelkikanat Mesleki
            ve Teknik Anadolu Lisesi'nde Bilişim Teknolojileri bölümünde
            okuyorum. Web Tabanlı Uygulama Geliştirme dersi kapsamında
            hazırladığım Dark Souls 3 fan sayfasını ziyaret ettiğiniz için
            teşekkür ederim. Sitem Dark Souls evrenine olan ilgimi yansıtan bir
            proje olarak tasarlandı ve zamanla geliştirmeyi hedefliyorum.
            Aşağıdan daha fazla bilgiye ulaşabilirsiniz.
        </p>
        <div class="butons">
            <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-discord"></i></a>
        </div>
        <div class="butonlar">
            <button><a href="~/İletisim">İletişim</a></button>
            <button id="daha-fazlasi-buton">Daha Fazlası</button>
        </div>
    </div>
    <div class="Resim">
        <img src="~/images/logo2.png" alt="Logo" />
    </div>
</div>

<div class="hakkimdasayfamgenel" id="detayli-hakkimda" style="display: none">
    <div class="containerb">
        <div class="profil-kart">
            <div class="daire">
                <img class="daireresim" src="~/images/logo2.png" alt="Profil" />
            </div>
            <div class="profil-adi">Süleyman</div>
            <div class="profil-detay">
                11. sınıf öğrencisi • Dark Souls 3 fan sitesi yapımcısı • Kod &amp;
                tasarım meraklısı
            </div>
            <div class="profile-buttonlari">
                <button class="buton">
                    <a href="~/İletisim">İletişim</a>
                </button>
                <button class="buton">Bilgi</button>
            </div>
            <div class="etiket">Kindled • Ember Holder</div>
        </div>

        <div class="hakkimda-kart">
            <div class="hakkimdaüst">
                <div class="hakkimdayazi">
                    <div class="hakkimdayazilar">Hakkımda</div>
                    Dark Souls 3 evreninden ilham alarak oluşturduğum bu site, oyun
                    tutkum ve yaptığım tasarımları paylaşmak için kuruldu. Kod
                    yazmayı, görsel tasarım yapmayı ve oyunlara dair rehberler
                    hazırlamayı seviyorum.
                </div>
                <div class="hakkimdabilgi">
                    <b>Yaş:</b> 16<br />
                    <b>Konum:</b><br />Türkiye
                </div>
            </div>

            <div class="icerik-yazi">Neler yaparım</div>
            <ul>
                <li>Dark Souls rehberleri ve lokasyon açıklamaları</li>
                <li>Site tasarımı ve CSS/HTML örnekleri</li>
                <li>Oyuncular için ipuçları ve walkthrough'lar</li>
            </ul>

            <div class="icerik-yazi">Yetenekler</div>
            <div class="skill-tablosu">
                <div class="skills">
                    <div class="skiller">
                        <div class="skill-adi">HTML/CSS</div>
                        <div class="bar">
                            <div class="skil skil-html"></div>
                        </div>
                    </div>
                    <div class="skiller">
                        <div class="skill-adi">JavaScript</div>
                        <div class="bar">
                            <div class="skil skil-js"></div>
                        </div>
                    </div>
                </div>
                <div class="skills">
                    <div class="skiller">
                        <div class="skill-adi">UI Tasarım</div>
                        <div class="bar">
                            <div class="skil skil-ui"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="icerik-yazi">Hikaye tarzı biyografi:</div>
            <div class="bio-yazi">
                “Küllerin arasında gezinirken, küçük ama kararlı bir zanaatkar
                olarak ben de kendi köşemde bir rehber ve galeri kurdum. Site,
                oyunculara hem estetik hem de faydalı bilgiler sunmayı amaçlar.”
            </div>
        </div>
    </div>

    <div class="program-kart">
        <div class="program-yazi">İlerlemeler &amp; Başarılar</div>
        <div class="program-kutu">
            <div class="pkutu">
                <div class="pkutu-sayi">1</div>
                <div class="pkutu-isim">Rehber</div>
            </div>
            <div class="pkutu">
                <div class="pkutu-sayi">10</div>
                <div class="pkutu-isim">Tema</div>
            </div>
            <div class="pkutu">
                <div class="pkutu-sayi">?</div>
                <div class="pkutu-isim">Kullanıcı</div>
            </div>
        </div>
        <div class="sosyalbuton">
            <button class="buton">E-posta</button>
            <button class="buton">Discord</button>
            <button class="buton">GitHub</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/hakkimda.js"></script>
    <script src="~/js/loader.js"></script>

}